body {
    background: green;
    min-width: 500px;
}

#main {
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    width: 450px;
}

table, tr, th, td {
    text-align: center;
    border: 1px solid white;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
}

#score {
    font-size: 2em;
}

.but {
    font-size: 2em;
    width: 150px;
    text-align: center;
}

#result {
    font-weight: bold;
}

.info {
    margin: 10px 0 10px 0;
}

div:last-of-type {
    margin-top: 0px;
}